.dark {
  color: $color-inner;
  background-color: #222;
  position: fixed;
  right: 0;
  bottom: 60px;
  right: 17px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  cursor: $cursor-pointer, pointer;
  transition: background-color 0.3s;
  z-index: 999;
}
/*.header .header-content .navbar .menu .menu-item .sub-menu li{
  background:black;
  }*/
@media (max-width: 551px) {
  .dark {
    width: 35px;
    height: 35px;
    line-height: 35px;
    bottom: 68px;
    right: 0px;
    bottom: 65px;
    background: #000;
  }
}
.darkModel {
  background: #000;
/*.bg-color,
  .header-bg-color,
  .header .header-content .navbar .menu .menu-item .sub-menu li {
    background-color: #222;
  }*/
/*.header {
    background-color: #222;
  }*/
}
.darkModel .content {
  background: #222;
  color: #fff;
}
@media screen and (min-width: 800px) {
  .darkModel .content {
    min-height: 652px !important;
  }
}
@media screen and (max-width: 800px) {
  .darkModel .content {
    min-height: 600px !important;
  }
}
.darkModel .content .aplayer {
  background: #2d3032;
}
.darkModel .content .aplayer .aplayer-title,
.darkModel .content .aplayer .aplayer-author {
  color: #0f0;
}
.darkModel .content .aplayer .aplayer-list {
  color: #40e0d0;
}
.darkModel .content .aplayer .aplayer-list-light {
  background: #808080;
  color: #ff0;
}
.darkModel .content .aplayer .aplayer-lrc:before {
  background: none;
  border: none;
}
@media screen and (min-width: 800px) {
  .darkModel .content .aplayer .aplayer-lrc {
    width: 600px !important;
    height: 200px !important;
    margin-right: 200px !important;
    margin-top: 180px !important;
    z-index: unset !important;
    padding: 140px 0 0px !important;
    margin-bottom: 20px;
  }
}
.darkModel .content .aplayer .aplayer-lrc-current {
  color: #0f0;
}
.darkModel .content .aplayer .aplayer-lrc:after {
  background: none;
}
.darkModel .content .aplayer .aplayer-info {
  border-bottom: 0px;
}
.darkModel .card .card-content {
  background: #2d3032;
  color: #fff;
}
.darkModel .header .header-content .navbar .menu .menu-item a,
.darkModel .dark,
.darkModel .search,
.darkModel .header .blog-title a,
.darkModel .header #he-plugin-simple .s-sticker-tmp,
.darkModel .header #he-plugin-simple .s-sticker-city,
.darkModel .flag-text {
  color: #fff;
}
.darkModel .dark {
  background-color: #808080;
}
.darkModel .read-more {
  color: #f0f6fc !important;
}
.darkModel .bg-floor,
.darkModel .bg-dark-floor {
  background: #282c34;
}
.darkModel .img-mask {
  transition: opacity 0.3s;
  opacity: 0.4;
}
.darkModel .swiper-bgmask {
  transition: opacity 0.3s;
  opacity: 0.4;
  background: #000;
}
.darkModel .motto {
  transition: background 0.3s;
  background: #2d3032;
}
.darkModel .motto .motto-content {
  color: #8b949e;
}
.darkModel .motto h3 {
  color: #c9d1d9;
}
.darkModel .index-notice {
  transition: background 0.3s;
  background: #2d3032;
}
.darkModel .index-notice .index-notice-content__title a,
.darkModel .index-notice .index-notice-content__title span,
.darkModel .index-notice .index-notice-content__date {
  color: #8b949e;
}
.darkModel .index-notice h3 {
  color: #c9d1d9;
}
.darkModel .topArticle .articles .article-link .text .title a,
.darkModel .topArticle .articles .article-link .text .more {
  color: #c9d1d9;
}
.darkModel .topArticle .articles .article-link .text .content {
  color: #8b949e;
}
.darkModel .topArticle {
  transition: background 0.3s;
  background: #2d3032;
}
.darkModel .topArticle h3 {
  color: #c9d1d9;
}
.darkModel .topArticle .article-link .article {
  transition: opacity 0.3s;
  opacity: 0.4;
}
.darkModel .posts .post {
  transition: all 0.3s;
  background-color: #2d3032;
  background: transparent;
}
.darkModel .posts .post .post-img a {
  transition: all 0.3s;
  filter: brightness(0.6);
}
.darkModel .posts .post-img-mobile a {
  transition: all 0.3s;
  filter: brightness(0.6);
}
.darkModel .posts .post-time {
  color: #8b949e;
}
.darkModel .posts .post-title .post-title-link {
  color: #c9d1d9;
}
.darkModel .posts .post-tags {
  color: #8b949e;
}
.darkModel .posts .post-content {
  color: #c9d1d9;
}
.darkModel .page-nav .page-nav-pre,
.darkModel .page-nav .page-nav-next,
.darkModel .page-nav .page-nav-prev {
  background-color: #222;
  color: #f0f6fc;
  transition: background-color 0.3s;
}
.darkModel .page-nav .page-nav-pre:hover,
.darkModel .page-nav .page-nav-next:hover,
.darkModel .page-nav .page-nav-prev:hover {
  background-color: $color-primary;
}
.darkModel .color-primary {
  color: #222;
}
.darkModel .page-info-text {
  color: #f0f6fc;
}
.darkModel .top-btn-color {
  background-color: #222;
  color: #f0f6fc;
}
.darkModel .top-btn-color:hover {
  border: 1px solid #222;
}
.darkModel .swiper-btn-color {
  background-color: #2d3032;
  transition: all 0.3s;
}
.darkModel .swiper-btn-color:hover {
  background-color: $color-primary;
}
.darkModel .border-color {
  border: 1px solid #222;
}
.darkModel .border-color:hover {
  border: 1px solid $color-primary;
}
.darkModel .footer {
  color: #f0f6fc;
}
.darkModel .post-detail-header {
  position: relative;
}
.darkModel .post-detail-header .post-detail-header-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 1;
}
.darkModel .post-detail-header .title {
  z-index: 2;
  color: f0f6fc;
}
.darkModel .post-detail {
  background-color: #2d3032;
  background: transparent;
  color: #f0f6fc;
}
.darkModel .post-detail :not(pre)>code[class*=language-],
.darkModel .post-detail pre[class*=language-] {
  filter: brightness(0.8) !important;
}
.darkModel .post-detail .tagLink .link-card {
  background: #222;
}
.darkModel .post-detail .post-title {
  color: #f0f6fc;
}
.darkModel .post-detail p,
.darkModel .post-detail .p {
  color: #f0f6fc !important;
}
.darkModel .post-detail code:not([class *='language'] ),
.darkModel .post-detail .pbg {
  background-color: rgba(240,246,252,0.149);
  color: #f0f6fc;
}
.darkModel .post-detail details {
  border: 1px solid #222;
  background: #222;
}
.darkModel .post-detail .timenode .body {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail pre code {
  background-color: transparent;
}
.darkModel .post-detail blockquote,
.darkModel .post-detail .note {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail div.tabs,
.darkModel .post-detail div.tabs ul.nav-tabs,
.darkModel .post-detail div.tabs ul.nav-tabs li.tab.active a {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail div.tabs ul.nav-tabs li.tab.active a {
  border-bottom: 1px solid rgba(240,246,252,0.149);
}
.darkModel .post-detail div.btns a,
.darkModel .post-detail .md div.btns a,
.darkModel .post-detail span.btn a {
  background-color: rgba(240,246,252,0.149) !important;
}
.darkModel .post-detail blockquote p {
  color: #f0f6fc;
}
.darkModel .post-detail h1,
.darkModel .post-detail h2,
.darkModel .post-detail h3,
.darkModel .post-detail h4,
.darkModel .post-detail h5,
.darkModel .post-detail h6 {
  color: #f0f6fc;
}
.darkModel .post-detail table tr:nth-child(2n),
.darkModel .post-detail thead {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .post-detail table tr th,
.darkModel .post-detail table tr td {
  border: 1px solid rgba(240,246,252,0.149);
}
.darkModel .post-detail .post-copyright {
  background-color: rgba(240,246,252,0.149);
  background: transparent;
}
.darkModel .post-detail img {
  filter: brightness(0.6);
}
.darkModel #lv-ad-976 #container .reply-content {
  color: #f0f6fc;
}
.darkModel #comments {
  background-color: #2d3032;
  background: transparent;
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vnick {
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vmail {
  color: #f0f6fc;
}
.darkModel #vcomment .vheader .vlink {
  color: #f0f6fc;
}
.darkModel .v[data-class=v] .status-bar,
.darkModel .v[data-class=v] .veditor,
.darkModel .v[data-class=v] .vinput,
.darkModel .v[data-class=v] p,
.darkModel .v[data-class=v] pre code {
  color: #f0f6fc;
}
.darkModel .v[data-class=v] code {
  background-color: rgba(240,246,252,0.149);
}
.darkModel .v[data-class=v] .vbtn {
  color: #f0f6fc;
}
.darkModel .post-nav .post-nav-prev .post-nav-img,
.darkModel .post-nav .post-nav-next .post-nav-img {
  opacity: 0.4;
}
.darkModel .v[data-class=v] .vicon {
  fill: #f0f6fc;
}
.darkModel .toc-aside {
  background-color: rgba(45,48,50,0.6);
  color: #f0f6fc;
}
.darkModel .toc-aside .is-active-link {
  color: $color-primary;
}
.darkModel .archive .post-archive .year a {
  color: #f0f6fc;
}
.darkModel .archive .post-archive .post-item .post-title {
  color: #f0f6fc;
}
.darkModel #categories .card .card-content .category-title,
.darkModel #tags .card .card-content .tag-title {
  color: #f0f6fc;
}
.darkModel .tag-content {
  background-color: #2d3032 !important;
}
.darkModel #tags .card .card-content .tag-chips a .tag-content {
  color: #f0f6fc;
}
.darkModel .category-content {
  background-color: #2d3032 !important;
}
.darkModel #categories .card .card-content .category-chips a .category-content {
  color: #f0f6fc;
}
.darkModel .archive-header .mask-box,
.darkModel .tags-header .mask-box,
.darkModel .tag-header .mask-box,
.darkModel .categories-header .mask-box,
.darkModel .category-header .mask-box,
.darkModel .about-header .mask-box,
.darkModel .friends-header .mask-box {
  opacity: 0.6;
}
.darkModel .tag-name .name,
.darkModel .category-name .name,
.darkModel .friends .friend {
  background-color: #2d3032 !important;
  color: #f0f6fc;
}
.darkModel .friends-title {
  color: #f0f6fc;
}
.darkModel .friends .friend .friend-info .friend-introduction {
  color: #8b949e;
}
.darkModel #about .title {
  color: #f0f6fc;
}
.darkModel #about .basic-info {
  background-color: #2d3032;
  color: #f0f6fc;
}
.darkModel #about .subtitle,
.darkModel #about .basic-info .items .item {
  color: #f0f6fc;
}
.darkModel .skill,
.darkModel #about .basic-info .games .game-item .logo img,
.darkModel #about .basic-info .books .book-item .logo img {
  filter: brightness(0.6);
}
.darkModel #about .basic-info .games .game-item,
.darkModel #about .basic-info .books .book-item {
  color: #8b949e;
}
.darkModel #about .basic-info .socialAccounts .account {
  color: #8b949e;
}
.darkModel video {
  filter: brightness(0.6);
}
.darkModel .message-box_wrapper .message-box {
  background-color: #2d3032;
}
.darkModel .message-box_wrapper .message-box h2,
.darkModel .message-box_wrapper .message-box .search-result,
.darkModel .message-box_wrapper .message-box .close,
.darkModel .message-box_wrapper .message-box #local-search-input {
  color: #8b949e;
}
.darkModel .message-box_wrapper .message-box .result-wrapper .local-search-empty {
  color: #8b949e;
}
.darkModel .message-box_wrapper .message-box .result-wrapper ul li {
  box-shadow: 0 0 4px 1px rgba(255,255,255,0.12);
}
.darkModel .message-box_wrapper .message-box .result-wrapper ul li:hover {
  box-shadow: 0 0 8px 3px rgba(255,255,255,0.12);
}
.darkModel .post-donate .donate_bar a.btn_donate {
  filter: brightness(0.7);
}
.darkModel .donate-box {
  background-color: #2d3032;
}
.darkModel .donate-box .donate-box_title h4,
.darkModel .donate-box .donate-box_close i {
  color: #8b949e;
}
.darkModel #appDrawer .drawer-box {
  background-color: #2d3032;
}
.darkModel #appDrawer .drawer-box .drawer-box-content .drawer-box-content_menu .drawer-box-content_item a {
  color: #f0f6fc;
}
.darkModel .github-corner svg {
  fill: #f0f6fc !important;
  color: #222;
}
.darkModel .header #he-plugin-simple .s-sticker-tmp,
.darkModel .header #he-plugin-simple .s-sticker-city {
  color: #f0f6fc !important;
}
