.posts {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.posts h3 {
  color: #273849;
  border-bottom: 1px solid #273849;
}
.posts .post {
  box-shadow: 0 1px 20px -6px rgba(0,0,0,0.5);
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  background: ;
  border-radius: 10px;
  overflow: hidden;
  background: transparent;
}
.posts .post .post-main {
  flex: 1;
  padding: 20px 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.posts .post .post-img {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.posts .post .post-img a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.posts .post .post-img a:hover {
  transform: scale(1.2);
}
.posts .post .post-img a img {
  object-fit: cover;
}
.posts .post-info {
  flex: 1;
}
.posts .post-title {
  font-size: 1.4em;
  margin-top: 10px;
}
.posts .post-title .post-title-link {
  color: #273849;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s;
}
.posts .post-title .post-title-link:hover {
  color: !important;
}
.posts .post-meta {
  overflow: hidden;
  margin-top: 10px;
}
.posts .post-img-mobile {
  display: none;
  overflow: hidden;
  height: 210px;
  margin: 10px 0;
  border-radius: 10px;
}
.posts .post-img-mobile a {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.posts .post-img-mobile a:hover {
  transform: scale(1.2);
}
.posts .post-img-mobile a img {
  object-fit: cover;
}
.posts .post-more {
  line-height: 30px;
}
.posts .post-more a {
  color: #273849;
}
.posts .post-more i {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.posts .post-more i:hover {
  color: #42b983;
}
.posts .post-content {
  color: rgba(0,0,0,0.66);
  margin-top: 10px;
  min-height: 85px;
  max-height: 105px;
  line-height: 27px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.posts .post-content a {
  text-decoration: none;
}
.posts .post-time {
  color: #888;
  font-size: 14px;
}
@media (max-width: 992px) {
  .posts {
    width: 95%;
  }
  .posts .post {
    margin-top: 10px;
    flex-direction: column !important;
    height: auto;
  }
  .posts .post .post-main {
    flex: none;
    padding: 20px;
  }
  .posts .post .post-img-mobile {
    display: block;
    height: 350px;
  }
  .posts .post .post-img {
    flex: none;
    height: 210px;
    margin: 10px 0;
    border-radius: 10px;
    display: none;
  }
  .posts .post-more {
    display: none;
  }
}
@media (max-width: 551px) {
  .posts .post .post-img-mobile {
    height: 210px;
  }
}
